@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
.fa-quote-right {
    color: #fff;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #FF0000;
}

body, html{
    width:100%;
    height:100%;
    overflow:hidden;
}

canvas{
    background:#000;
    width:100%;
    height:100%;
  }

.botui-app-container {
    position:absolute;
    align-items:center;
    left: 0;right: 0;
}

@media only screen and (min-width: 1024px) {
    .botui-app-container {
        width: 40%;
    }
}

.botui-container {
    height: 90vh;
    font-size: 14px;
    background-color: transparent;
    padding-bottom: 50px;
}

.botui-messages-container {
    padding: 10px 20px
}

.botui-actions-container {
    padding: 20px 20px
}

.botui-message {
    min-height: 30px;
}

.botui-message-content {
    border: 2px outset #fff;
    padding: 10px 17px;
    color: rgb(34, 28, 28);
    background-color: #fff
}

.botui-message-content.human {
    color: #fff;
    border: 2px outset #9cb3ff;
    background-color: #6184f8;
}

.botui-message-content.text {
    line-height: 1.3
}

.botui-message-content.loading {
    background-color: rgba(206, 206, 206, .5);
    line-height: 1.3;
    text-align: center
}

.botui-message-content.embed {
    padding: 5px;
    border-radius: 5px
}

.botui-message-content-link {
    color: #919292
}

::-webkit-input-placeholder { /* Edge */
    color: rgb(204, 204, 204);
  }
  
  :-ms-input-placeholder { /* Internet Explorer */
    color: rgb(204, 204, 204);
  }
  
  ::placeholder {
    color: rgb(204, 204, 204);
  }

.botui-actions-text-input {
    cursor: url(./../assets/cursor-click.png) 14 0,pointer;
    border: 0;
    outline: 0;
    border-radius: 0;
    padding: 5px 7px;
    background-color: transparent;
    color: #fff;
    border-bottom: 1px solid #fff;
}

.botui-actions-text-submit {
    color: #fff;
    width: 30px;
    padding: 5px;
    height: 30px;
    line-height: 1;
    border-radius: 50%;
    border: 1px solid #919292;
    background: #777979
}

button.botui-actions-buttons-button {
    cursor: url(./../assets/cursor-click.png) 14 0,pointer;
    margin-top: -5px;
    margin-bottom: 10px;
}

.botui-actions-buttons-button {
    border: 0;
    color: #9a4800;
    line-height: 1;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    padding: 20px 20px;
    border-radius: 4px;
    background: #fab931;
    box-shadow: 2px 3px 4px 0 rgba(0, 0, 0, .5);
    border: 7px outset #ffef96;
}

.botui-actions-text-select {
    border: 0;
    outline: 0;
    border-radius: 0;
    padding: 5px 7px;
    background-color: transparent;
    color: #595a5a;
    border-bottom: 1px solid #919292
}

.botui-actions-text-searchselect {
    border: 0;
    outline: 0;
    border-radius: 0;
    padding: 5px 7px;
    background-color: transparent;
    color: #595a5a;
    border-bottom: 1px solid #919292
}

.botui-actions-text-searchselect .dropdown-toggle {
    border: none!important
}

.botui-actions-text-searchselect .selected-tag {
    background-color: transparent!important;
    border: 0!important
}

.slide-fade-enter-active {
    transition: all .3s ease
}

.slide-fade-enter,
.slide-fade-leave-to {
    opacity: 0;
    transform: translateX(-10px)
}

.dot {
    width: .5rem;
    height: .5rem;
    border-radius: .5rem;
    display: inline-block;
    background-color: #919292
}

.dot:nth-last-child(1) {
    margin-left: .3rem;
    animation: loading .6s .3s linear infinite
}

.dot:nth-last-child(2) {
    margin-left: .3rem;
    animation: loading .6s .2s linear infinite
}

.dot:nth-last-child(3) {
    animation: loading .6s .1s linear infinite
}

@keyframes loading {
    0% {
        transform: translate(0, 0);
        background-color: #ababab
    }
    25% {
        transform: translate(0, -3px)
    }
    50% {
        transform: translate(0, 0);
        background-color: #ababab
    }
    75% {
        transform: translate(0, 3px)
    }
    100% {
        transform: translate(0, 0)
    }
}